In [20]:
# Загрузка библиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Считывание данных
df = pd.read_csv('data/diabetes_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               778 non-null    int64
 1   Glucose                   778 non-null    int64
 2   BloodPressure             778 non-null    int64
 3   SkinThickness             778 non-null    int64
 4   Insulin                   778 non-null    int64
 5   BMI                       778 non-null    float64
 6   DiabetesPedigreeFunction  778 non-null    float64
 7   Age                       778 non-null    int64
 8   Outcome                   778 non-null    int64
 9   Gender                    778 non-null    object
dtypes: float64(2), int64(7), object(1)
memory usage: 60.9+ KB

In [3]:
df.drop('Gender', axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0
...,...,...,...,...,...,...,...,...,...
773,6,103,72,32,190,37.7,0.324,55,0
774,1,71,48,18,76,20.4,0.323,22,0
775,0,117,0,0,0,33.8,0.932,44,0
776,4,154,72,29,126,31.3,0.338,37,0
777,5,147,78,0,0,33.7,0.218,65,0

In [4]:
list_df = df.columns
list_df

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'Gender'],
      dtype='object')

In [5]:
df[df[list_df]. isin([0])] = np.nan
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6.0,98.0,58.0,33.0,190.0,34.0,0.430,43,NaN,Female
1,2.0,112.0,75.0,32.0,NaN,35.7,0.148,21,NaN,Female
2,2.0,108.0,64.0,NaN,NaN,30.8,0.158,21,NaN,Female
3,8.0,107.0,80.0,NaN,NaN,24.6,0.856,34,NaN,Female
4,7.0,136.0,90.0,NaN,NaN,29.9,0.210,50,NaN,Female
...,...,...,...,...,...,...,...,...,...,...
773,6.0,103.0,72.0,32.0,190.0,37.7,0.324,55,NaN,Female
774,1.0,71.0,48.0,18.0,76.0,20.4,0.323,22,NaN,Female
775,NaN,117.0,NaN,NaN,NaN,33.8,0.932,44,NaN,Female
776,4.0,154.0,72.0,29.0,126.0,31.3,0.338,37,NaN,Female
777,5.0,147.0,78.0,NaN,NaN,33.7,0.218,65,NaN,Female

In [14]:
null = df.isnull().sum()

# формируем список наименований столбцов, где есть пропущенные значения, то есть сумма больше нуля
col = null[null>0].index
col

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'Outcome'],
      dtype='object')

In [34]:
df['Pregnancies'].value_counts()

1     136
0     112
2     105
3      75
4      69
5      58
6      52
7      46
8      39
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [6]:
mediana = df['SkinThickness'].median()
mediana

29.0

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               666 non-null    float64
 1   Glucose                   773 non-null    float64
 2   BloodPressure             742 non-null    float64
 3   SkinThickness             546 non-null    float64
 4   Insulin                   398 non-null    float64
 5   BMI                       767 non-null    float64
 6   DiabetesPedigreeFunction  778 non-null    float64
 7   Age                       778 non-null    int64
 8   Outcome                   268 non-null    float64
 9   Gender                    778 non-null    object
dtypes: float64(8), int64(1), object(1)
memory usage: 60.9+ KB

In [49]:
df.iloc[:, :] == 0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,True,False,False,False,True,False
2,False,False,False,True,True,False,False,False,True,False
3,False,False,False,True,True,False,False,False,True,False
4,False,False,False,True,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
773,False,False,False,False,False,False,False,False,True,False
774,False,False,False,False,False,False,False,False,True,False
775,True,False,True,True,True,False,False,False,True,False
776,False,False,False,False,False,False,False,False,True,False
777,False,False,False,True,True,False,False,False,True,False

In [62]:
a = 'qwerty '
a * 4

'qwerty qwerty qwerty qwerty '